* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
}

.App {
  padding-left: 10px;
  padding-right: 30px;
}

.ipt-demo {
  display: flex;
  flex-direction: column;
}
#msg-ipt {
  padding-top: 5px;
  width: 300px;
  height: 60px;
  border-radius: 5px;
  border: 1px solid black;
  text-indent: 12px;
  outline: none;
  font-size: 16px;
  margin: 10px 0;
  &::placeholder {
    color: #e6e6e6;
  }
}
.send {
  border: none;
  padding: 0 10px;
  height: 30px;
  border-radius: 5px;
  outline: none;
  background-color: #ccc;
  margin-right: 5px;
  cursor: pointer;
}
